*{
    margin: 0;
    padding: 0;

}

body{
    background: linear-gradient(to top, rgba(33, 6, 29, 0.683)50%,rgba(33, 6, 29, 0.683)50%),url(5.png);
    background-position: center;
    background-size: cover;
}

.main{
    width: 100%;
   
    height: 109vh;
}
.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
  
}
.icon{
    width: 200px;
    float: left;
    height: 50px;
}
.logo{
    color: red;
    font-size: 25px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
}
.MENU{
    width: 400px;
    float: left;
    height: 70px;
}
ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
    list-style: none;
    margin-left: 82px;
    margin-top: 20px;
    font-size: 14;
}
ul li a{
    text-decoration: none;
    color: white;
    font-family: Arial;
    font-weight: bold;
    transition: 1ms ease-in-out;
}
ul li a:hover{
    color: blue;
}
.search{
    width: 330px;
    float: left;
    margin-left: 450px;
}
.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background-color: #9ff8f2;
    border: 2px solid rgb(30, 210, 63);
    margin-top: 30px;
    color: red;
    border-right: none;   
    font-size: 16px;
    float: left;
    padding: 10px;

    border-bottom-left-radius: 500px;
    border-top-left-radius: 0px;

}
.btn{
    width: 100px;
    height: 40px;
    background-color:#9ff8f2;
    border: 2px solid rgb(30, 210, 63);
    margin-top: 30px;
    border-left: none;
    color: rgb(19, 21, 195);
    font-size: 15px;

    border-top-right-radius: 500px;
    border-bottom-right-radius: 0px;
}
.btn:focus{
    outline-style: inset;
    
}
.srch:focus{
    outline: none;
}
.content{
    font-size: 10px;
    color: rgb(240, 245, 247);

}
